/* Exercise 3 (#4) */
.red-square {
    width: 80px;
    height: 80x;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;
}

/* CSS voor 05-inheritance: */

.cascading-parent {
    font-weight: bold;
    color: #FFF;
    padding: 20px 70px;
    text-align: center;
}

.cascading-child {
    background-color: #000;
    color: #FF0 !important;
    height: 900px;
}                                     